*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  background-color: $color-white;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font: $font-normal 16px/1.5 $font-family;
  font-weight: normal;
  font-style: normal;
  color: #333333;
}

a {
  transition: color, .2s;
  
  &:hover {
    text-decoration: none;
  }
}

h1 {
  margin-bottom: 30px;
  font-weight: normal;
  font-family: $font-family_bold;
  margin-top: 0;
  font-size: 48px;
  line-height: 52px;
  color: #5B3E3A;
}

h2 {
  font-family: $font-family_medium;
  font-style: normal;
  font-size: 24px;
  line-height: 23px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 15px;
  font-weight: bold;
}

.text_16 {
  font-size: 16px;
}

.text_20 {
  font-size: 20px;
}

.light {
  opacity: 0.8;
  font-size: 14px;
}

.price {
  font-family: $font-family_medium;
  font-size: 16px;
  line-height: 19px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.op_06 {
  opacity: 0.6;
}

.uppercase {
  text-transform: uppercase;
  font-family: $font-family_medium;
}

.bold {
  font-family: $font-family_bold;
}

.medium {
  font-family: $font-family_medium;
}

.yellow {
  background-color: #FF8A00;
}

.red {
  background-color: $color-red;
}

.green {
  background-color: #93CC88;
}