@media (max-width: 640px) {
  h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .nomarg {
    margin-bottom: 0;
  }
  .logo img {
    width: 80px;
  }
  .catalog_tile.simple_tile .catalog_tile__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .stats_inner {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
      .stats_item {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
          }
          &:nth-child(2n),
          &:last-child {
            display: none;
          }
          p:first-child {
            font-size: 12px;
            margin-bottom: 0;
            line-height: 14px;
            margin-right: 4px;
          }
          p:last-child {
            font-size: 12px;
            line-height: 14px;
          }
          &:last-child {
            margin-bottom: 0;
          }
      }
  }
  .main_header__inner .mh_text h1 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .main_header__inner .mh_text {
    max-width: 100%;
  }
  .main_header__inner .mh_text {
    p {
      font-size: 14px;
      line-height: 20px;
      max-width: 100%;
      margin-bottom: 12px;
    }
    .link {
      font-size: 16px;
    }
  }
  .main_header {
    min-width: 375px;
    background-position: 45% bottom;
    background-size: auto 53%;
    height: 28em;
  }
  .main_header__inner {
    justify-content: flex-start;
  }
  .mh_text {
    margin-top: 50px;
  }
  .header_top .contacts_lk {
    margin-right: 24px;
  }
  .burger {
    margin-right: 0;
  }
  .address {
    width: 20% !important;
  }

  .header_top .contacts_lk img {
    height: 15px;
  }
  .header_top .contacts_bag a {
    img {
      height: 15px;
    }
    span {
      font-size: 10px;
      line-height: 6px;
    }
  }
  .address img {
    height: 18px;
  }
  .hamburger__item, .hamburger span, .hamburger span:before, .hamburger span:after {
    height: 1px;
  }
  .points_opener .points {
    width: 85vw;
  }
  .points_opener .points__inner .points_list__item .pli_name p {
    font-size: 14px;
    line-height: 20px;
  }
  .points_opener .points__inner .points_list__item .time {
    font-size: 11px;
  }
  .menu_wrapper {
    top: 61px;
  }
  .menu_mobile {
    width: 100%;
  }
  .stats {
    margin-bottom: 0;
  }
  h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .link {
    font-size: 14px;
  }
  .page__item_title {
    margin-bottom: 24px;
  }
  .catalog_tile__item {
    margin-bottom: 10px;
  }
  .footer__inner {
    padding: 0;
  }
  .footer_bottom {
    padding: 0 20px;
  }
  .last {
    margin-bottom: 0;
  }
  .breadcrumbs .breadcrumbs_list li p {
    font-size: 14px;
  }
  .breadcrumbs .breadcrumbs_list li  {
    margin-bottom: 0;
    height: 16px;
    span {
      margin: 0 4px;
      font-size: 14px;
    }
  }
  .item_info .left .tabs__buttons {
    margin-top: 20px;
  }
  .item_info .left .tabs__btn {
    margin: 0 10px;
    width: calc(33.3333% - 13px);
    &:last-child {
      margin-right: 0;
    }
  }
  .item_info .right h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .item_info .right .add_item {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
      .qtt {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
          div {
            flex: 1;
            text-align: center;
          }
      }
    .btn {
      width: 100%;
    }
  }
  .simple_tabs .tabs__buttons {
    justify-content: space-between;
      .tabs__btn {
        margin-right: 20px;
        font-size: 14px;
        &:last-child {
          margin-right: 0;
        }
      }
  }
  .catalog_box .catalog .catalog_tile .catalog_tile__item {
    width: 100%;
    margin-right: 0;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  .flo_header {
    height: 10em;
    background-position: right top;
    background-size: auto 72%;
    background-image: url(../img/fone1.png);
  }
  .flo_header h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .breadcrumbs .breadcrumbs_list li {
    margin-bottom: 0;
      .link, p, span {
        font-size: 12px;
        line-height: 22px;
      }
  }
  .flo_header__inner {
    justify-content: center;
    margin-top: 0;
  }
  .catalog_box .sort {
    margin-bottom: 12px;
    .left .res {
      display: none;
    }
    .dropdown__text {
      font-size: 14px;
      height: auto;
        &:after {
          width: 6px;
          height: 6px;
          top: 6px;
        }
    }
  }
  .mobile_filters {
    display: block;
      .mf_btn {
        img {
          width: 24px;
          height: auto;
        }
      }
      .mf_box {
        display: none;
      }
  }
  .filters_opener .points {
    width: 86vw;
  }
  .filters {
    padding-right: 40px;
    max-width: 400px;
  }
  .popup {
    max-width: 90%;
  }
  .popup_inner {
    padding: 20px;
  }
  .close-modal {
    top: -40px;
    right: -20px;
  }

  .flowers_body {
    margin-bottom: 40px;
    padding-bottom: 0;
  }

  .flowers_body .flower_item {
    margin-bottom: 30px;
    .name {
      p {
        font-size: 14px;
      }
      img {
        margin-right: 12px;
        width: 45px;
        height: 45px;
      }
    }
  }
  .flowers_body .flower_item {
    .qtt {
      button {
        padding: 10px 14px;
      }
      div {
        padding: 10px 14px;
        font-size: 14px;
      }
    }
  }
  .add_items__item {
    display: flex;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    .btn_add {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    .text_20 {
      font-size: 14px;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  .page-inter {
    .page__item_title {
      margin-bottom: 32px;
    }
  }
  .submit_window__inner .submit_row {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &:first-child {
      margin-bottom: 24px;
    }
      .price_d {
        width: 100%;
        margin-bottom: 12px;
        font-size: 14px;
        text-align: center;
      }
      .dd {
        margin-right: 0;
        margin-bottom: 20px;
          .dropdown__text {
            font-size: 14px;
          }
      }
      .btn {
        width: 100%;
      }
  }
  .article {
    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 20px;
      line-height: 26px;
      margin-top: 20px;
    }
    h3 {
      font-size: 18px;
      line-height: 24px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
    }
    .q {
      margin: 20px 0;
      padding: 20px;
    }
    img {
      margin: 20px 0;
    }
  }
  .cart {
    .cart_top {
      p {
        font-size: 12px;
      }
    }
    .left .cart_item {
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      //border-bottom: 1px dotted $color-border;
        .item_inf {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
          flex-direction: column;
          align-items: center;
            .item_miniature {
              margin-right: 0;
              margin-bottom: 12px;
              width: 100%;
              height: 200px;
              border-radius: 30px;
            }
        }
    }
  }
  .submit_window__inner .submit_row.column .price {
    width: 100%;
    text-align: center;
  }
  .submit_window__inner {
    padding: 32px 20px;
  }
  .cart .submit_row input {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }
  .cart_order .left .client_form .input_row {
    flex-direction: column;
    input:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .cart_order .left .client_form .input_row .dd:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .orders {
    .cart_item {
      width: 100%;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 20px;
      padding-top: 20px;
      border-bottom: 1px dotted $color-border;
      .item_inf {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: center !important;
        .item_miniature {
          margin-right: 0 !important;
          margin-bottom: 12px !important;
          width: 100% !important;
          height: 200px !important;
          border-radius: 30px !important;
        }
      }
    }
  }
  .submit_row .btn_white {
    margin-bottom: 20px;
  }
  .order_row__top {
    .uppercase {
      margin-bottom: 12px;
    }
  }
  .date, .repeat, .price {
    width: 100% !important;
    text-align: left !important;
    justify-content: flex-start;
    margin-bottom: 12px;
  }
  .repeat {
    margin-bottom: 0;
  }
  .order_tabs.simple_tabs .tabs__buttons .tabs__btn {
    font-size: 12px;
  }
  .order_row__body {
    flex-wrap: wrap;
    justify-content: space-between;
    .order_num {
      width: auto !important;
    }
    .centered {
      padding-left: 0;
    }
    .item_inf {
      width: 100% !important;
      margin-right: 0;
      margin-bottom: 20px;
      flex-direction: column;
      align-items: center !important;
      .item_miniature {
        margin-right: 0 !important;
        margin-bottom: 12px !important;
        width: 100% !important;
        height: 200px !important;
        border-radius: 30px !important;
      }
    }
  }
  .text_20 {
    font-size: 16px;
  }
  .text_16 {
    font-size: 14px;
  }
  .first_feeds .feed_tile__item {
    padding: 20px;
  }
}