.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  min-width: 320px;
  width: 100%;
  min-height: 100%;
  background-color: transparent;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: transparent;
}

.page__item {
  @extend .layout-padding;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  background-color: transparent;
}

.page__item_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
    h1 {
      margin-bottom: 0;
    }
    h2 {
      margin-bottom: 0;
    }
}

.sticky_box {
  width: 100%;
  display: flex;
  align-items: stretch !important;
  justify-content: flex-start;
}

.big_block {
  width: calc(75% - 40px);
  &__box {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    .text_16 {
      line-height: 26px;
    }
  }
}

.sticky_block {
  width: calc(25% - 80px);
  margin-right: 80px;
  height: auto;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 20px 0;
      border-bottom: 1px solid $color-border;
      a {
        font-size: 18px;
        font-family: $font-family;
      }
    }
  }
}