@media (max-width: 1200px) {
  .page-container {
    padding-bottom: 60px;
  }
  .catalog_tile.simple_tile {
    .catalog_tile__item {
      width: calc(50% - 20px);
      margin-right: 40px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .mobile_filters {
    display: block;
  }
  .contacts_phone {
    display: none;
  }
  .ads {
    display: block;
  }
  .address {
    display: block;
    width: 26% !important;
    img {
      display: block;
    }
    .address_box {
      display: none;
    }
  }
  .header_menu {
    display: none;
  }
  .burger {
    display: block;
    margin-right: 0;
      .hamburger {
        display: block;
      }
  }
  .header_top {
    padding: 12px 40px;
  }
  .main_header {
    background-position: 35%;
  }
  .main_header__inner .mh_text {
    max-width: 70%;
    h1 {
      font-size: 36px;
      line-height: 42px;
    }
  }
  .stats_inner {
    padding: 40px;
  }
  .points_opener .points {
    width: 60vw;
  }
  .footer_top {
    display: none;
  }
  .footer__inner {
    padding: 0;
    width: 100%;
      &:first-child {
        display: none;
      }
  }
  .footer_bottom {
    padding: 0 20px;
  }
  .item_info {
    width: 100%;
    flex-direction: column;
      .left {
        width: 100%;
        margin-right: 0;
      }
      .right {
        width: 100%;
      }
  }
  .catalog_box .filters {
    display: none;
  }
  .catalog_box .catalog {
    width: 100%;
    .catalog_tile .catalog_tile__item {
      width: calc(50% - 20px);
        &:nth-child(3n+3) {
          margin-right: 40px;
        }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .flo_header {
    height: 12em;
    h1 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 0;
    }
  }
  .flo_header__inner .fh_text .breadcrumbs {
    margin-bottom: 12px;
  }
  .res {
    display: none;
  }
  .filters_opener .points {
    width: 40vw;
  }
  .filters {
    padding-right: 40px;
    max-width: 400px;
  }
  .header_top .contacts, .header_top .address {
    display: none;
  }
  .header .search {
    display: flex;
  }
  .panel {
    display: block;
  }
  .flowers_body .flower_item {
    width: 100%;
    margin-right: 0;
      .qtt {
        margin-right: 0;
      }
  }
  .add_items {
    margin-bottom: 20px;
  }
  .add_items__item {
    display: flex;
    width: calc(50% - 20px);
    margin-right: 40px;
    margin-bottom: 32px;
      &:nth-child(3n+3) {
        margin-right: 40px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
  }
  .result {
    flex-direction: column;
      .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
          textarea {
            min-height: 120px;
          }
      }
      .right {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }
  }
  .cart {
    flex-direction: column;
      .left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
      }
      .right {
        width: 100%;
      }
  }
  .cart {
    margin-bottom: 0;
  }
  .order_row__top {
    display: flex;
    flex-wrap: wrap;
    .order_num {
      width: 50% !important;
    }
    .status {
      justify-content: flex-end;
      margin-bottom: 12px;
    }
    .price {
      order: 2;
      text-align: center;
    }
    .date {
      order: 1;
    }
    .repeat {
      order: 3;
    }
  }
  .discount {
    flex-wrap: wrap;
      &__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
      }
  }
  .sticky_block {
    display: none;
  }
  .big_block {
    width: 100%;
  }
  .title_des .descr {
    max-width: 100%;
  }
  .first_feeds .feed_tile__item:first-child {
    width: 100%;
    margin-right: 0;
  }
  .first_feeds .feed_tile__item:nth-child(2) {
    width: 100%;
    margin-right: 0;
  }
  .feed_tile__item {
    width: 100%;
    margin-right: 0;
  }
  .submit_window__inner {
    margin-bottom: 40px;
  }
}